.loginPage{
  background-image: url('background-registerPage/stacked-waves-haikei.svg') ;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.loginPage__Form{
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50px;
  box-shadow: -10px 10px 0 0 #000; 
}

.loginPage__title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
  color: #007090;
  margin-bottom: 20px;
}

.loginPage__Form_input_email input,
.loginPage__Form_input_password input {
  width: 300px;
  height: 45px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  padding: 0 20px 0 5px;
}

.loginPage__Form_input_email
.loginPage__Form_input_password {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  background: none;
}

input::placeholder {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.LoginPage__Form__input_email_svgOjo{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.botonLogin{
  width: 300px;
  height: 45px;
  background: #4CAF50;
  border: none ;
  border-radius: 8px;
  margin-top: 5px ;
  margin-bottom: 30px;
  color: #fff;
  padding-bottom: 7px;
  font-size: 20px;
}

.loginPage-logo{
  width: 650px;
  height: 650px;
}

.loginForm-links{
  font-family: 'Times New Roman', Times, serif;
  color: #0584a7;
}