.registerPage{
  background-image: url('background-registerPage/stacked-waves-haikei.svg') ;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.registerPage__Form{
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50px;
  box-shadow: 10px 10px 0 0 #000; 
}

.registerPage__title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
  color: #007090;
  margin-bottom: 20px;
}

.registerPage__Form .registerPage__Form_input_userName input,
.registerPage__Form_input_email input,
.registerPage__Form_input_password input,
.registerPage__Form_input_confirmPassword input {
  width: 300px;
  height: 45px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  padding: 0 20px 0 5px;
}

input::placeholder {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.registerPage__Form__input_email_svgOjo{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.botonRegister{
  width: 300px;
  height: 45px;
  background: #4CAF50;
  border: none ;
  border-radius: 8px;
  margin-top: 5px ;
  margin-bottom: 30px;
  color: #fff;
  padding-bottom: 7px;
  font-size: 20px;
}

.registerPage-logo{
  width: 650px;
  height: 650px;
}

.registerForm-links{
  font-family: 'Times New Roman', Times, serif;
  color: #0584a7;
}
.registerPage__sectionForm-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
  margin-right: 25px;
}