.HeaderHome {
  background-color: #A3BAC3;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.HeaderHome__ContainerLogo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  margin-left: 15px;
}

.HeaderHome__ContainerLogo-img {
  width: 100px;
  height: 100px;
}

.HeaderHome__ContainerLogo-img:hover {
  cursor: pointer;
}

.HeaderHome__ContainerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.HeaderHome__ContainerButtons-buttonLogin,
.HeaderHome__ContainerButtons-buttonRegister {
  background-color: #E9E2F2;
  color: #007090;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  padding: 8px 12px;
}

.HeaderHome__ContainerButtons-buttonLogin:hover,
.HeaderHome__ContainerButtons-buttonRegister:hover,
.HeaderHome__ContainerButtons-buttonLogin:active,
.HeaderHome__ContainerButtons-buttonRegister:active {
  background-color: #E9E2F2;
  color: #007090;
  border: none;
  border-radius: 5px;
}
