.Header{
  height: 10vh;
  background-color: #A3BAC3;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.Header__logo-img{
  width: 250px;
  height: 250px;
  margin-top: -89px;
  margin-left: -50px;
}

.Header__buttons{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.Header__buttons-login{
  margin-right: 10px;
  background-color: #E9E2F2;
  border-radius: 5px;
  padding: 5px 10px;
  color: #007090;
  font-family: 'Times New Roman', Times, serif;
}

.Header__buttons-register{
  background-color: #E9E2F2;
  border-radius: 5px;
  padding: 5px 10px;
  color: #007090;
  font-family: 'Times New Roman', Times, serif;
}

.Header__buttons-Logout{
  margin-right: 10px;
  background-color: #E9E2F2;
  border-radius: 5px;
  padding: 5px 10px;
  color: #007090;
  font-family: 'Times New Roman', Times, serif;
}