  .Home__Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #E9E2F2;
    min-height: 90vh;
  }

  .Home__Main-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0;
    width: 100%;
  }

  .Home__Main-hero-content {
    flex: 1;
  }

  .Home__Main-hero-title {
    margin-top: -50px;
    font-size: 3.9em;
    color: #007090;
    margin-bottom: 20px;
    font-family: "Abril Fatface", serif;
  }

  .Home__Main-hero-subtitle {
    font-size: 1.2em;
    color: #5292A6;
    margin-bottom: 20px;
    font-family: "Noto Sans", sans-serif; 
    text-align: center;
  }

  .Home__Main-hero-list {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .Home__Main-hero-list-item {
    font-size: 1.1em;
    margin: 10px 0;
  }

  .Home__Main-imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .Home__Main-imageContainer-image {
    width: 400px;
    height: auto;
    border-radius: 50%;
  }

  .arrow-down {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .Home__Main {
      min-height: 90vh;
    }
  
    .Home__Main-hero {
      flex-direction: column;
      align-items: center;
    }
  
    .Home__Main-hero-title {
      margin-top: 0;
      font-size: 2.5em;
    }
  
    .Home__Main-imageContainer {
      margin-top: 20px;
    }
  
    .Home__Main-imageContainer-image {
      width: 300px;
    }
  }
  