.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .chat-form {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .chat-button {
    padding: 10px 20px;
    border: none;
    background-color: #00FFB2;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chat-button:hover {
    background-color: #00c086;
  }
  
  .chat-messages {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
    flex: 1;
  }
  
  .chat-message {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .chat-message-me {
    width: 45%;
    background-color: #b2e1cc;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .chat-message-other {
    width: 45%;
    background-color: #838383;
    color: white;
    align-self: flex-start;
    margin-right: auto;
  }
  