.select-setting{
   width: 100px;
   text-transform:  none; 
}

.text-setting{
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;   
   font-style: normal;
}

.title-setting{
   font-family: "Radio Canada Big", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
}