.containerMainPersonalDiary__Notes-contentNote{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.containerMainPersonalDiary__Notes-contentNote-inputTitle{
  margin: 10px 0 10px 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  width: 70%;
}