.containerMainPersonalDiary__Notes-listNotes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerMainPersonalDiary__Notes-listNotes-options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  width: 85%;
  border: 2px solid black;
  border-radius: 5px;
}

.containerMainPersonalDiary__Notes-listNotes-options-left{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 35%;
  & p{
    margin-left: 10px;
    font-weight: 600;
  }
}

.containerMainPersonalDiary__Notes-listNotes-options-right{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 65%;
}

.containerMainPersonalDiary__Notes-listNotes-notes {
  width: 100%;
  margin-top: 20px;
}

.containerMainPersonalDiary__Notes-listNotes-notes-item {
  background-color: #616161;
  color: #ffffff;
  padding: 15px;
  margin: 0 10px 10px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.containerMainPersonalDiary__Notes-listNotes-notes-item h4 {
  margin: 0;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.containerMainPersonalDiary__Notes-listNotes-notes-item p {
  margin: 3px 0 0 3px;
  font-size: 0.875rem;
  color: #d8d7d7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.containerMainPersonalDiary__Notes-listNotes-notes-item .material-symbols-outlined {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ff0000;
}

.containerMainPersonalDiary__Notes-listNotes-notes-item:hover {
  background-color: #3e3e3e;
}

.lista-de-notas{
  height: 80dvh;
  overflow-y: auto;
}

