.customPurple {
  background-color: #9333ea;
  border-color: #9333ea;
  color: white;
}

.customPurple:hover {
  background-color: #7e22ce;
  border-color: #7e22ce;
}

.card-title {
  color: #333;
  font-weight: bold;
}