.management-activitiesButtons {
    background-color: darkgrey;
}

.activitiesAssign-container {
    background-color: #ecfdf5;
    min-height: 400px;

}

.cardActivitiesPatient-container{
    width: 20rem;
    height: 39.7rem;
}

.cardAddActivity {
    border: solid 5px gray;
    border-radius: 10px;
}