.customBlueBackground {
  background-color: #007bff;
  color: #ffffff;
}

.customBlueText {
  color: #007bff;
}

.customBlueBackground:hover,
.customBlueBackground:focus {
  background-color: #0056b3;
  color: rgb(240, 239, 239)
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}
